// Обнуление стилей
@import "nullstyle.scss";
// Подключение шрифтов
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
//SCSS

.main {
    font-family: 'Roboto', sans-serif;
}
.content {
    max-width: 800px;
    margin: 0 auto;
}
.tagsfind {
    margin: 50px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
		&__finder {
            display: flex;
            flex-direction: row;
            align-items: center;
		}	
}
.finder {
    &__input {
        padding: 0 0px 0 5px;
        height: 40px;
        font-size: 25px;
        width: 150px;
        border: 1px solid rgba(0, 0, 0, 0.178);
    }
    &__tag{
        font-size: 50px;
    }
}